.container {
  width: 100vw;
}

.heigthConfig {
  height: 12rem;
  margin-bottom: 3rem;
}

.buttonContainer {
  margin-right: 5rem;
}

.profileImage {
  height: 5rem;
  border-radius: 50%;
}

.left {
  display: flex;
  gap: 3rem;
}
