.container {
  width: 100vw;
}

.heigthConfig {
  height: 12rem;
  margin-bottom: 3rem;
}

.buttonContainer {
  margin-right: 5rem;
}

.profileImage {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.name {
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 768px) {
  .profileImage {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .profileContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }
}
