.buttonsContainer {
  margin-right: 6rem;
}

.heigthConfig {
  height: 12rem;
  margin-bottom: 3rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.profileImage {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .profileImage {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
