.seat {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logo {
  color: white;
  font-family: Lobster Two;
  font-size: 2.5rem;
  margin-left: 1rem;
}
.heigthConfig {
  height: 12rem;
  margin-bottom: 3rem;
}

.tickets {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
